@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #0e0e10;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #0e0e10;
}

a, a:hover, a:active, a:focus, a:focus-visible, input, input:active, input:focus-visible, input:focus {
    transition: 0.15s;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.3rem;
}

h3 {
    margin: 0 0 0.5em 0;
}

h4 {
    margin: 0;
    font-size: 15px;
}

h3 a {
    color: #9147ff;
}

h3 a:hover, h3 a:active, h3 a:focus-visible, h3 a:focus, h4 a:hover, h4 a:active, h4 a:focus-visible, h4 a:focus {
    color: #772ce8;
}

p, ul {
    margin: 0 0 1.5em 0;
    font-size: 14px;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#wrapper > div {
    display: flex;
}

.navigation, .navigation div, .navigation div div {
    display: flex;
    align-items: center;
}

.navigation {
    padding: 0.5rem;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.1);
}

.navigation .logo {
    height: 40px;
    width: 40px;
    font-size: 14px;
    justify-content: center;
}

.navigation .logo a {
    color: #9147ff;
}

.navigation .links a {
    padding: 0 15px;
    font-size: 14px;
}

.navigation .links a:hover {
    color: #9147ff;
}

.navigation .links a:first-child {
    border-right: 1px solid #ccc;
    padding-bottom: 6px;
    padding-top: 4px;
}

.navigation .search {
    margin-right: 2vw;
}

.navigation .search input {
    width: 20vw;
    font-family: inherit;
    font-size: 14px;
    border: 2px transparent solid;
    padding: 8px 15px;
    border-radius: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
}

.navigation .search input:hover {
    border-color: rgba(0, 0, 0, 0.1);
}

.navigation .search input:active, .navigation .search input:focus, .navigation .search input:focus-visible {
    border-color: #9147ff;
}

.navigation .search a {
    padding: 8.5px 12px;
    background-color: #0000000D;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 0 5px 5px 0;
    margin-left: 1px;
}

.navigation .search a:hover, .navigation .search a:focus, .navigation .search a:active {
    background-color: rgba(0, 0, 0, 0.12);
}

.navigation .login a {
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
}

.navigation .login a:last-child {
    font-size: 18px;
    padding-right: 0;
}

.purple-btn {
    background-color: #9147ff;
    color: #f2f2f2;
}

.purple-btn:hover, .purple-btn:active, .purple-btn:focus, .purple-btn:focus-visible {
    background-color: #772ce8;
}

.btn {
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #0000000D;
}

.btn:hover, .btn:active, .btn:focus-visible, .btn:focus {
    background-color: rgba(0, 0, 0, 0.12);
}

.btn.purple {
    background-color: #9147ff;
    color: #f2f2f2;
}

.btn.purple:hover, .btn.purple:active, .btn.purple:focus-visible, .btn.purple:focus {
    background-color: #772ce8;
}

.grey-btn {
    background-color: #0000000D;
}

.grey-btn:hover, .grey-btn:active, .grey-btn:focus, .grey-btn:focus-visible {
    background-color: rgba(0, 0, 0, 0.12);
}

.sidebar {
    width: 16vw;
    margin-right: 8vw;
}

.sidebar > div {
    margin-bottom: 6vh;
}

.sidebar, .sidebar > div {
    flex-direction: column;
}

.sidebar .btn {
    margin: 0;
}

.main {
    padding: 3rem 1.5rem;
}

.content {
    flex-grow: 1;
}

.recommended-channels, .recommended-categories {
    margin-bottom: 6vh;
}

.recommended-categories .categories {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
}

.recommended-categories .categories .item .image, .recommended-channels .channels .item .image {
    margin-bottom: 10px;
}

.recommended-categories .categories .item .image img, .recommended-channels .channels .item .image img {
    max-width: 100%;
}

.recommended-categories .categories .item p {
    margin-bottom: 0.8em;
}

.category-tags a, .stream-tags a {
    padding: 3px 8px;
    background-color: #0000000D;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.category-tags a:hover, .stream-tags a:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.recommended-channels .channels {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 32% 32% 32%;
}

.footer-bar {
    height: 15px;
    background-color: #9147ff;
    position: fixed;
    bottom: 0;
    width: 100%;
}




/* Efeito do hover na imagem da Twitch */
/* Ref: https://codepen.io/Axiol/pen/QWLRMVr */

.stream {
    position: relative;
    display: inline-block;
    background-color: #9147ff;
}

.stream:before,
.stream:after {
    content: '';
    display: block;
    background-color: #9147ff;
    width: 8px;
    height: 8px;
    position: absolute;
    transition: all .15s ease;
}

.stream:before {
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(-45deg) scale(0);
}

.stream:after {
    right: 0;
    bottom: 0;
    transform-origin: bottom right;
    transform: rotate(45deg) scale(0);
}

.stream__thumbnail {
    display: block;
    transform: translate(0, 0);
    transition: all .15s ease;
    position: relative;
    z-index: 10;
}

.stream:hover .stream__thumbnail {
    transform: translate(6px, -6px);
}

.stream:hover:before {
    transform: rotate(-45deg) scale(1);
}

.stream:hover:after {
    transform: rotate(45deg) scale(1);
}